.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.form-container {
  /* border: 0.1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.07);
  padding: 2.4rem 3.2rem;
  border-radius: 11px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 6.4rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  border: 0.1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.07);
  padding: 2.4rem 3.2rem;
  border-radius: 11px;
  transition: all 300ms;
}
.login-form:hover {
  transform: translateY(-3%);
}

.login-form .btn-fill {
  grid-row: 4;
  grid-column: 1 / -1;
}
